*.log
*.o
*.d
*.su
*.dll
*.lib
*.list
*.bin
*.elf
*.hex
*.map
*.a
*.bat
*.hgignore

*.crf
*.axf
*.htm
*.lnp
*.dep
*.uvguix*
*.uvoptx

.hg/
.settings/
Src/build
Src/Simulator
Debug
MDK-ARM/DebugConfig
MDK-ARM/Listings

*.md
*.txt
*.launch
*.Bak
*.iex
*.dbgconf
MDK-ARM/RLC-3/rlc.dfu
DFU_F1/MDK-ARM/DFU_F1 Configuration/DFU_F1 Configuration.sct
MDK-ARM/RLC-3/RLC-3.sct
Middlewares/MDK-ARM/RLC-3/RLC-3.sct
